@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0065FC;
}
#color1{
    color:var(--primary-color);
}

:root
{
    --second-color: #DEEBFF
}
#color2{
    color:var(--second-color);
}

:root
{
    --third-color: #F2F2F2;
}
#color3{
    color:var(--third-color);
}

:root{
    --fourth-color: #FFFFFF;
}
#color4{
    color:var(--fourth-color);
}
:root{
    --fifth-color: #000000;
}
#color5{
    color:var(--fifth-color);
}
body {
    font-family: 'Raleway', sans-serif;       
    font-size: 0.95em;
    }

header{
    width: 100%;
    padding: 8px;
}

.en_tete{
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
main{
    width: 100%;
    padding: 8px;
}

nav{
    display: flex;
    justify-content: space-between;
    position: unset;    
 }

 header nav a {
    text-decoration: none;
    color: #0065FC;
    padding: 2em;/* 1em = 100% de la taille spécifiée par le navigateur si pas de modification coté client*/
    font-weight: 500;/*épaisseur de l'écriture des "a href" du header*/
}

nav a:hover{
    border-top: 5px solid #0065FC;/* dimension, couleur et type du trait bleu*/
    padding-top: 40px;/* espace entre le trait bleu et "hébergement/activités/s'inscrire*/
    color: #0065FC;
}

.activite{
    color: black;
}

.s_inscrire{
    font-weight: bold;    
    position: absolute;
    top: 19px;
    right: 0px;
    width: unset;
    color: #0065FC;     
}

nav a:visited{
    text-decoration: none;
}

h1{
    font-size: large;
    font-weight: 800;
    padding-right: 40px;
    margin-bottom: 10px;
   
}

h2{
    font-size: 1.3em;
    font-weight: 800;
}

h3{
    font-weight: bold;
}

p{
    font-weight: 500;    
    margin-bottom: 5px;
    font-size: 0.9em;
}
strong{
    font-weight: bold;
}

form {
    margin: 0.8em 0 1em 0;
    display: flex;
    justify-content: flex-start;
}


.mark{/*icone du pointeur de map*/
    font-size: 1.1em;
    width: 30px;/*largeur de la box type block*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.mark:hover{/* action sur l'icone du pointeur de map*/
    font-size: 1.3em;
    color: #0065FC;
}

input{
    height: 43.5px;/*hauteur de l'input*/
    padding: 0 0 0 1em;
    margin: 0;    
    min-width: 155px;
    border: 2px solid rgb(242,242,242);
    font-size: 1.1em;
    font-family: inherit;/*contrôle ce qui se passe lorsqu'aucune valeur de la police n'est spécifiée pour une propriété sur l'élément font-family.*/
    font-weight: 600;
    color: #0065FC;
}

input::placeholder{
    color: black;/*couleur de "Marseille, France"*/
    font-weight: 800;
    font-size: 1.1em;
    font-style: bold;    
}

button{
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600;
    height: 43.5px;
    width: 40px;
    padding: 10px;
    margin: 0em;
    border-radius: 16px 16px 16px 16px;
    border: none;
}

.fa-search{/*icone de la loupe*/
    display: contents;/*content: visible au format mobile*/
}

.rechercher{
    display: none;/*none = pas visible en fomat pc*/
}

.filter{
    font-weight: 800;
    font-size: 1.15em;    
}

.filtres{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    height: 115px;
    padding-top: 10px;

}

.filtres span{/*css du terme "Filtres"*/
    font-weight: 800;
    font-size: 1.15em;
    display: block;
}

.filtres div{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    cursor: pointer;
}

.filtres div:hover{
    border: 2px solid #0065fc;
    background-color: #DEEBFF;
    transition: 1s;
}

.icon{
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    height: 47px;
    width: 45px;
    margin: 0;
}

.filtres div:hover .descriptionfiltre{
    color: #0065FC;
    transition: 0.5s;/*delai d'apparition de la couleur bleu sur les filtres*/
}

.filtres div:hover .icon{
    background-color: #0065FC;
    color: white;/*couleur de l'icone en "hover"*/
    transition: 1s;/*delai d'apparition de la couleur bleu sur les icones des filtres*/
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 4em;
}

.cercle{
    color: #0065FC;
    font-size: 0.70em;
    border: 1px solid grey;
    border-radius: 100%;/*100% arrondi les 4 coins du carré pour le transformer en rond*/
    height: 1.3em;
    width: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 2.5px;
}

.portevues1{
    background-color: var(--third-color) ;
}

.title_pop{
    padding-top: 2em;
    padding-bottom:  1em;
    margin-left: 15px;
    display: flex;
    justify-content: space-between; 
}
    

.fa-chart-line{
    font-size: 1.2em;       
}

aside div {/*pourquoi avec cette directive, le "fa-chart-line" se remet en dessous de "les plus populaire???"*/    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 10px 5px 10px;
}

aside div article img {
    width: 39%;
    min-width: 39%;
    height: 140px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;/*façon dont l'image s'adapte à <article> en utilisant sa largeur et sa hauteur.*/
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}

article{
    background-color: var(--fourth-color);
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px var(--third-color) inset;    
}

.description{

}
    


.portevues2{
    background-color: red;
}

.hebergements_all{
    background-color: indigo;    
}

section div article img{
    width: 39%;
    min-width: 39%;
    height: 140px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;/*façon dont l'image s'adapte à <article> en utilisant sa largeur et sa hauteur.*/
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}




footer{
    background-color: var(--third-color);
}
