*{
    box-sizing: border-box;
}

:root{
    --primary-color: #0065FC;
}
#color1{
    color:var(--primary-color);
}

:root
{
    --second-color: #DEEBFF
}
#color2{
    color:var(--second-color);
}

:root
{
    --third-color: #F2F2F2;
}
#color3{
    color:var(--third-color);
}

:root{
    --fourth-color: #FFFFFF;
}
#color4{
    color:var(--fourth-color);
}
:root{
    --fifth-color: #000000;
}
#color5{
    color:var(--fifth-color);
}

body {
    font-family: 'Raleway', sans-serif;       
    font-size: 0.95em;    
    }

header{
        width: 100%;
        padding: 8px;
    }

.en_tete{
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
    }

main{
        width: 100%;
        padding: 8px;
    }

nav{
        display: flex;
        justify-content: space-between;
        position: unset;    
    }

header nav a {
        text-decoration: none;
        color:var(--primary-color);
        padding: 2em;/* 1em = 100% de la taille spécifiée par le navigateur si pas de modification coté client*/
        font-weight: 500;/*épaisseur de l'écriture des "a href" du header*/
    }

nav a:hover{
        border-top: 5px solid var(--primary-color);/* dimension, couleur et type du trait bleu*/
        padding-top: 40px;/* espace entre le trait bleu et "hébergement/activités/s'inscrire*/
        color:var(--primary-color);
    }

.activite{
        color:var(--fifth-color);
    }

.s_inscrire{
        font-weight: bold;    
        position: absolute;
        top: 19px;
        right: 0px;
        width: unset;
        color:var(--primary-color);     
    }

nav a:visited{
        text-decoration: none;
    }

h1{
        font-size: large;
        font-weight: 800;
        padding-right: 40px;
        margin-bottom: 10px;
       
    }

h2{
        font-size: 1.3em;
        font-weight: 800;
    }

h3{
        font-weight: bolder;
    }

p{
        font-weight: 500;    
        margin-bottom: 5px;
        font-size: 0.9em;
    }

strong{
        font-weight: bold;
    }

form {
        margin: 0.8em 0 1em 0;
        display: flex;
        justify-content: flex-start;
    }

.mark{/*icone du pointeur de map*/
        font-size: 1.1em;
        width: 30px;/*largeur de la box type block*/
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0 0 15px;
        background-color: var(--third-color);
        cursor: pointer;
    }
    
.mark:hover{/* action sur l'icone du pointeur de map*/
        font-size: 1.3em;
        color:var(--primary-color);
    }

input{
        height: 43.5px;/*hauteur de l'input*/
        padding: 0 0 0 1em;
        margin: 0;    
        min-width: 155px;
        border: 2px solid var(--third-color);
        font-size: 1.1em;
        font-family: inherit;/*contrôle ce qui se passe lorsqu'aucune valeur de la police n'est spécifiée pour une propriété sur l'élément font-family.*/
        font-weight: 600;
        color:var(--primary-color);
    }

input::placeholder{
        color:var(--fifth-color);/*couleur de "Marseille, France"*/
        font-weight: 800;
        font-size: 1.1em;
        font-style: bold;           
    }

button{
        color:var(--fourth-color);
        background-color: var(--primary-color);
        cursor: pointer;
        font-family: inherit;
        font-size: 1em;
        font-weight: 600;
        height: 43.5px;
        width: 40px;
        padding: 10px;
        margin: 0em;
        border-radius: 16px;
        border: none;
    }

.fa-search{/*icone de la loupe*/
        display: contents;/*content: visible au format mobile*/
    }

.rechercher{
        display: none;/*none = pas visible en fomat pc*/
    }

.filter{
        font-weight: 800;
        font-size: 1.15em;    
    }

.filtres{
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: 115px;
        padding-top: 10px;
        gap: 5px;   
    }

.filtres span{/*css du terme "Filtres"*/
        font-weight: 800;
        font-size: 1.15em;
        display: block;
    }

.filtres div{
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: flex-start;    
        cursor: pointer;
    }

.filtres div:hover{
        border: 2px solid #0065fc;
        background-color: var(--second-color);
        transition: 1s;
    }

.filtres div:hover .descriptionfiltre{
        color:var(--primary-color);
        transition: 0.5s;/*delai d'apparition de la couleur bleu sur les filtres*/
    }
    
.icon{
        color:var(--primary-color);
        background-color: var(--second-color);
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50px;
        height: 47px;
        width: 45px;
        margin: 0;
    }

.filtres div:hover .icon{
        background-color: var(--primary-color);
        color:var(--fourth-color);/*couleur de l'icone en "hover"*/
        transition: 1s;/*delai d'apparition de la couleur bleu sur les icones des filtres*/
    }

.info{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 4em;
    }

.cercle{
        color:var(--primary-color);
        font-size: 0.70em;
        border: 1px solid grey;
        border-radius: 100%;/*100% arrondi les 4 coins du carré pour le transformer en rond*/
        height: 1.3em;
        width: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        padding: 2.5px;
    }

.portevues1{
    background-color: var(--third-color) ;
    display: flex;
    flex-direction: column;
    padding: 15px;    
}

.title_pop{   
    padding-bottom:  1em;    
    display: flex;
    justify-content: space-between; 
}
    
.fa-chart-line{
    font-size: 1.2em;       
}

aside div article img {
    width: 39%;
    min-width: 39%;
    height: 140px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;/*façon dont l'image s'adapte à <article> en utilisant sa largeur et sa hauteur.*/
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 2px;
}

article{
    background-color: var(--fourth-color);
    border-radius: 20px;                           
}

.heberg1{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.heberg1 > article{/*pour ranger les descriptions a coté des images*/
    display: flex;
}

.heberg1 article div div{/*ciblage des 2 1er div de chacuns des 3 articles de la div héberg1*/
    margin-top: 25px;
    padding-left: 15px;
}

.heberg1 article .popstars{/*ciblage des div "popstars" de chaque article de "héberg1"*/
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 15px;            
}        

.title_heberg_mars{
    padding-top: 30px;
    margin-bottom: 20px;
}

.heberg2 > article,
.heberg3 > article,
.portevues3 > article{
    box-shadow: 5px 5px 5px 5px var(--third-color);
}
        
.hebergmars div article img{
    width: 100%;
    height: 140px;        
    border-radius: 20px 20px 0 0;
    object-fit: cover;/*façon dont l'image s'adapte à <article> en utilisant sa largeur et sa hauteur.*/
    margin-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;        
}

.heberg2{
    display:flex;
    flex-direction: column;
    gap: 20px;       
}

.heberg22{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
}

.heberg3{
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;       
}

.heberg33{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
}

.etoiles{
    font-size: 0.75em;
    color: var(--primary-color);
}

.star{
    color: var(--third-color);
    font-size: 0.75em;
}

.plus{
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: bolder;
}

.activites h3{
    padding-left: 20px;
    margin-bottom: 15px;
}

.activ{
    margin-bottom: 10px;
    font-weight: bolder;
}

.portevues3{        
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;           
}

.portevues3 article{
    border-radius: 20px 20px 20px 20px;        
    margin-bottom: 10px;
    padding-top: 5px;        
}

.portevues3 img{
    width: 100%;
    height: 140px;       
    object-fit: cover;/*façon dont l'image s'adapte à <article> en utilisant sa largeur et sa hauteur.*/       
    border-radius: 20px 20px 0 0;        
    padding-right: 10px;        
    margin-bottom: 7px;
    margin-left: 5px;
}

footer{
    background-color: var(--third-color);
}

footer div{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding-left: 10px;       
}

footer h3{
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p{
    margin: 5px;   
}

.assistance{
    padding-bottom: 25px;
}

@media screen and (min-width: 1024px){

    header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2px;
        margin: 0px 10px 0px 10px;
    }

    nav{
        margin-top: 14px;       
    }

    header nav a{
        text-decoration: none;
        color: var(--primary-color);
        padding: 2em;
        cursor: pointer;
        font-weight: 500;
    }

    nav a:hover{
        border-top: 3px solid var(--primary-color);
        padding-top: 25px;
        color: var(--primary-color);
    }
    nav a:visited{
        text-decoration: none;
    }

    .s_inscrire{
        font-weight: bold;    
        position: relative;        
        right: 0px;
        width: unset;
        padding-top: 10px;                   
    }

    button{
        text-align: center;
        width: 10%;
        border-radius: 0px 15px 15px 0px;
    }

    .rechercher{
        display: contents;
    }
    .fa-search{
        display: none;
    }
    
    .choose{
        display: grid;
        width: 100%;        
        grid-template-areas: "filter filtres";/* A REVOIR C'EST PAS BON*/
    }

    .filtres{
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: 25px;
        padding-top: 10px;
        gap: 20px;
        margin-right: 240px;
    }

    .info{
        padding-bottom: 25px;        
    }

    .hebergements_all{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }

    .hebergmars{
        padding-left: 5px;
        background-color: var(--third-color);
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .title_heberg_mars{
        padding-left: 25px;
    }
    
    .heberg2,
    .heberg3{
        flex-direction: row;
        padding-left: 25px;
        margin-right: 25px;;
    }
    .heberg2 > article,
    .heberg3 > article{
        width: calc(100%/3);
    }

    .plus{
        padding-left: 25px;
    }

    .portevues1{
        border-radius: 20px;
        padding: 40px;
        padding-bottom: 55px;
    }

    .title_pop{
        padding-bottom: 1em;
        display: flex;
        justify-content: space-between;
    }

    .portevues3 article{        
        box-shadow: 2px 2px 2px 1px var(--third-color);
    }

    .part1{
        display: grid;
        grid-template-columns:25% 20% 15% ;
        grid-template-rows:20px 50px 20px ;
        grid-template-areas: 
            "vieux vieux pomegues pomegues"
            "vieux vieux pomegues pomegues"
            "vieux vieux frioul frioul"
            "vieux vieux frioul frioul";
        gap: 40px;
    }

    .vieux{
        grid-area: vieux;
    }

    .pomegues{
        grid-area: pomegues;
    }

    .frioul{
        grid-area: frioul;
    }

    .part2{
        display: grid;
        grid-template-columns:25% 20% 15% ;
        grid-template-rows:20px 50px 20px ;
        grid-template-areas:
            "calanques calanques dame dame"
            "calanques calanques dame dame"
            "calanques calanques parc parc"
            "calanques calanques parc parc";
            gap: 40px;
    }

    .calanques{
        grid-area: calanques;
    }

    .dame{
        grid-area: dame;
    }

    .parc{
        grid-area: parc;
    }

    .portevues3{
       display: grid;       
       grid-template-rows: 50% 50%;
       grid-template-columns: 25%;
       grid-template-areas:
        "part1 part1 part2 part2"
        "part1 part1 part2 part2";
        gap: 40px;
    }

    .part1{
        grid-area: part1;
    }

    .part2{
        grid-area: part2;
    }

    
    footer{
        display: flex;
        flex-direction: row;                
        padding-bottom: 20px;
        padding-left: 10px;
        padding-top: 25px;
    }

    footer p{
        line-height: 32px;
    }
    
    .flats{
        margin-left: 200px;
    }

    .assistance{
        margin-left: 300px;
    }



    
}